body {
  background: black;
  color: white;
  font-family: "helvetica"
}

header {
  background: #302a2a;
  padding: 20px 10px;
  height: 137px;
}
	header p {
		font-style: italic;
	}

.social img {
  width: 30px; 
  float: right; 
  margin-right: 5px;
}

article {
  margin-top: 30px;
}

	.portfolio img {
	  width: 400px;	
	}

	.portfolio p {
	  display: block;
	}

	.portfolio .overlay {
	    color: pink;
	    position: relative;
	    margin-top: -370px;
	    top: -10;
	    background: black;
	    width: 244px;
	    height: 225px;
	    padding-left: 156px;
	    padding-top: 141px;
	    opacity: 0;
	    transition: opacity 0.5s;
	}

	     .portfolio .overlay:hover {
	       opacity: 0.7;
	     }

